#site-name {
    color: white;
    font-size: 12rem;
}

:root {
    --background: rgba(0, 0, 0, 0.369);
    --color: rgb(255, 255, 255);
    --green: rgba(172, 255, 47, 0.571);
    --red: rgba(252, 69, 69, 0.54);
}

::placeholder {
    color: rgba(255, 255, 255, 0.785);
}

html {
    height: 100%;
}

body {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    height: 100%;
    background-image: url(./images/citysky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: height 1s linear;
}

#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}


button {
    color: var(--color);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: var(--background);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.101);

}

input {
    border: none;
    background-color: var(--background);
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2px;
    text-align: center;
    padding: 8px;
    width: 97%;
}

.filter-input {
    width: 97%;
}

#compare-button,
#login-button {
    width: 100%;
}

.Table {
    margin-top: 10px;
    width: 100%;
}

table {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--background);
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.143);
    padding: 5px;
}

.bar-chart {
    border-radius: 5px;
    margin-top: 3%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.tax-wrapper {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    background-color: rgba(255, 192, 203, 0.889);
}

.tax-div {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

@media screen and (max-width:1200px) {
    #site-name {
        font-size: 5rem;
    }

    #root {
        width: auto;
    }

}

@media screen and (max-width:600px) {
    #site-name {
        font-size: 2rem;
    }

}