#site-name {
    color: white;
    font-size: 12rem;
}

:root {
    --background: rgba(0, 0, 0, 0.369);
    --color: rgb(255, 255, 255);
    --green: rgb(172, 255, 47);
    --red: rgb(252, 69, 69);
}

::placeholder {
    color: rgba(255, 255, 255, 0.785);
}

html {
    height: 100%;
}

body {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.loader {
    margin-top: 10px;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid pink;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    height: 100%;
    background-image: url(./images/citysky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transition: height 1s linear;
    padding-bottom: 50px;
}

#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}



button {
    color: var(--color);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: var(--background);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.101);
}

#job-button,
#job-extra,
#table-button,
#extra-search-button {
    background-color: black;
}

#job-button:hover,
#job-extra:hover,
#table-button:hover,
#extra-search-button:hover {
    background-color: pink;
}

input {
    border: none;
    background-color: var(--background);
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2px;
    text-align: center;
    padding: 8px 0;
    width: 100%;
}

.muni-select {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: var(--background);
    color: white;
    font-size: 1.2rem;
}

.filter-input {
    width: 100%;
}

.filter-input::placeholder {
    color: var(--color);
}

#compare-button,
#login-button,
#table-button {
    width: 100%;
}

.table-div {
    padding: 20px 0;
}

.Table {
    /* padding: 20px 0; */
    margin-top: 10px;
    width: 100%;
}

table {
    table-layout: fixed;
    padding: 20px 0;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

thead {
    background-color: rgba(255, 192, 203, 0.889);
}

tr,
thead,
tbody {
    width: 100%;
}

td {
    width: 33.3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.143);
    padding: 5px;
    word-break: break-word;
}

#extra-search-button {
    width: 15%;
}

.extra-search-input {
    width: 85%;
}

.bar-div,
.tax-div,
.entries-div,
.pie-div,
.job-div,
.table-div {
    justify-content: space-around;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.pie-div {
    display: flex;
    flex-direction: row;
}

.wrapper {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    background-color: rgba(255, 192, 203, 0.889);
}

.job-wrapper {
    justify-content: center;
    align-items: center;
}

.tax-div,
.job-div {
    display: flex;
    text-align: center;
}

.job-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.job-hit-div {
    text-align: left;
    width: 80%;
    margin: 20px 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-hit-div h2 {
    display: flex;
    justify-content: space-between;

}

.job-hit-div h2 button {
    margin-right: 5px;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

@media screen and (max-width:1200px) {
    #site-name {
        font-size: 5rem;
    }

    #root {
        width: auto;
    }

    table {
        font-size: 1rem;
    }

}

@media screen and (max-width:600px) {
    #site-name {
        font-size: 2rem;
    }

    .wrapper h1 {

        font-size: medium;
    }

    .pie-div {
        flex-direction: column;
    }

    .tax-div,
    .job-div {
        font-size: 0.7rem;
        display: flex;
        text-align: center;
    }

    .job-hit-div h2 {
        font-size: 0.8rem;
    }

    table {
        font-size: .8rem;
    }

}